.navbar-brand a
{
    padding-left: 0px;
    position: relative;
}
.nav-link {
color: white !important;
font-weight: normal;
}

a{
 font-family: "futura";

}
.navbar .active{
  border-bottom: 3px solid white;
  color: #ffffff;
  font-weight: bold;
  position: relative;
}

.navbar-toggler .icon-bar {
  margin: 5px;
  display: block;
}

.navbar{
  font-family: "futura";
  transition-duration: 1.5s;
  background-color: #242424;
  background-color: rgba(0, 0, 0, .4);
}

div{
  font-family: "futura";
}

.aboutMeContainer{
	text-align: center;
}
.avatarImage
{
	text-align: center;
	padding-top: auto;
	padding-bottom: auto;
}
.avatarImage img {
	width: 200px;
  height:400px;
  border-radius: 1%;
}
.avatarImage img {
  color: red;
  width: 200px;
  height: 400px;
  object-fit: cover;

}
.experienceContainerView p {
	display:inline-block;
	text-align:center;
	width: 40%;
	margin-bottom: 10px;
}
.experienceContainerView{
  padding-bottom: -4%;
}

.experienceContainerView h6{
	margin-bottom: 35px;
	text-align: center;
}
.experienceContainerView h4{
	margin-bottom: 25px;
	text-align: center;
}
html { 
  scroll-behavior: smooth; 
  height: 100%;
} 
body, html {
  height: 100%;
  margin: 0;
  position: relative;
}

.hero-text{
  font-family: "futura";
}

br {   
    content: "";
    margin: 0em;
    display: block;
    margin-bottom: -30px; 
 }

.hero-text h3{
  text-align: left;
  position: absolute;
  top: 75%;
  left: 25%;
  transform: translate(-50%, -50%);
  color: white;

  border-bottom: 1px solid white;
  color: white;
}
.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://PAULFERRER.github.io/paulferrer/images/bg.jpg);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  text-align: left;
  position: absolute;
  top: 35%;
  left: 40%;
  transform: translate(-50%, -50%);
  color: white;
}
.techImagesContainer {
    max-width: 600px;
    margin: 0 auto;
     width: 100%;
}

.images {
    display:inline-block;
    padding: 5px;
    width: 45%;
  
}
.column {
  float: left;
  width: 33.33%;
	margin: 0px 0px 50px 0px;
  padding: 5px 5px 5px 5px;
  display:inline-block;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}

.cardColumn {
  float: left;
  width: 33.33%;
  margin: 0px 0px 10px 0px;
  padding: 5px 5px 5px 5px;
  display:inline-block;
  color: gray;
}

.cardRow:after {
  content: "";
  display: table;
  clear: both;
}

.cardColumn img{
  -webkit-filter: grayscale(5%);
  filter: grayscale(50%);
  align-content: center;
}

.card-body{
  background-color: #e3e3e3;
}

@media screen and (max-width: 600px) {
  .cardColumn {
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

h3,h5{
	text-align: center;
	padding-top: 100px;
}
.WhatIDoContainer{
	text-align: center;
	margin: 0px 10px 0px 0px;
    padding: 0px 0px 350px 0px;
    height: auto;
    width: 48%;
    display:inline-block;
    margin-bottom: 0%;
}
.tag1{
	margin: 0px 10px 0px 0px;
    padding: 0px 0px 350px 0px;
    height: auto;
    width: 48%;
    display:inline-block;
    margin-bottom: 0%;
}
.tag1 p{
	margin:10;
	padding:0;
	border:0;
	line-height: 1.6;
  margin-bottom: 10px;
}
.contactMeContainer{
	background-color: #e3e3e3;
	padding-bottom: 5%;
}
.socialMediaContainer{
	background-color: #0a0a0a;
	padding-top: 1%;
	padding-bottom: 1px;
  padding-left: 500px;
}
.socialMediaContainer p {
  padding-top: 1.5%;
	color: white;
  padding-left: 50px;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 55px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}
.fa:hover {
  opacity: 0.7;
}
.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
  text-decoration: none;
}

.fa-instagram {
  background: #f09433;
  color: white;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  background-clip: text;
  font-size: 200px;
}

.fa-commenting-o{
  background: #3B5998;
  color: white;
}

.fa-linkedin {
  background: #0e76a8;
  color: white;
}
.navbar 
{
  min-height: 50px;
}

.navbar-brand 
{
  height: 50px;
  line-height: 80px;
}
.icon-bar {
	width: 26px; 
	height: 2px;
	background-color: #B6B6B6;
	display: block;
	transition: all 0.2s;
	margin-top: 10px
}
 
.navbar-toggler {
  border: none !important;
  background: transparent !important;
  padding: 9px 10px !important;
  margin-right: 0 !important;
}

.navbar-toggler .top-bar {
  transform: translate(3px) rotate(45deg);
  transform-origin: 10% 10%;

}

.navbar-toggler .middle-bar {
  opacity: 0;
}

.navbar-toggler .bottom-bar {
  transform: translate(3px) rotate(-45deg);
  transform-origin: 10% 90%;

}

.navbar-toggler.collapsed .top-bar {
  transform: rotate(0);
}

.navbar-toggler.collapsed .middle-bar {
  opacity: 1;
}

.navbar-toggler.collapsed .bottom-bar {
  transform: rotate(0);
}
